# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# dotenv environment variables file
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / Editor folders
.vscode/
.idea/
